body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #051820;
}
.navbar a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-right: 1px solid #fff;
    font-size: 17px;
}
.navbar_toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
.navbar_menu {
    list-style: none;
    display: flex;
}
.navbar_menu li {
    margin-right: 20px;
}
.navbar_menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
.navbar_menu li a:hover {
    color: #80A5B6;
}
@media only screen and (max-width: 768px) {
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #333;
        padding: 20px 0;
    }
    .navbar_menu.active {
        display: flex;
    }
    .navbar_toggle {
        display: flex;
    }
}